.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-container {
  display:flex;
  justify-content:space-between;
  align-items: center;
  margin: 0 auto;
  height: 100px;
  width: 100%;
  position:relative;
  box-shadow: 4px 4px 12px rgb(206, 206, 206);
}

.title-container {
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin: 0 50px;
  height: 100px;
}

.title {
  display:flex;
  justify-content:space-around;
  text-decoration: none;
  align-items:center;
  color: #000000;
}

.title-logo {
  width:55px;
  height:30px;
  margin:0 16px;
  align-items:center;
}

.menu-img-wrap {
  position:relative;
  top:0px;
  right:0px;
}

.menu-img {
  width:40px;
  height:40px;
  margin: 0 50px;
}

.hamburger-menu {
  position:absolute;
  top:15px;
  right:20px;
  width:200px;
  height:150px;
  margin:20px;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 12px;
  box-shadow: 2px 4px 8px rgb(206, 206, 206);
  z-index: 5;
}

.menu_wrap {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #ffffff;
}

.menu_first {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.menu_border {
  border-top: 1px solid rgb(225, 225, 225);;
  border-bottom: 1px solid rgb(225, 225, 225);;
}

.menu_last {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.menu-link {
  text-decoration: none;
}

.menu-text {
  color: #000000;
  font-size: 16px;
  margin: 0 8px;
}

.footer-message {
  text-align: center;
  font-size : 14px;
}

.menu-hide {
  display:none;
}

main {
  margin: 30px 60px;
  overflow: auto;
}

.products-container {
  margin: 0 auto;
  display: flex;
  max-width: 96vw;
  justify-content:center;
  align-items: flex-start;
}

.product-container {
  margin:20px;
  width: 300px;
  height: 200px;
  position: relative;
  top: 0px;
  left: 0px;
}

.product-img {
  width:300px;
  height:200px;
  border-radius: 12px;
}

.title-wrap {
  display: flex;
  width: 300px;
  flex-direction: column-reverse;
}

.product-title {
  text-align: left;
  font-size:14px;
}

.sale {
  text-align: right;
  font-size:14px;
  font-weight: 600;
  color: #452CDD;
}

.product-sub-title {
  text-align: left;
  font-size:14px;
}
.price {
  text-align: right;
  font-size:14px;
}

.bookmark-img-wrap {
  position: absolute;
  width:24px;
  height:24px;
  bottom: 10px;
  right:10px;
}

.modal-background {
  position: absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100vh;
  background-color: rgba(255,255,255, 0.5);
}

.modal-div {
  width: 600px;
  height: 400px;
  margin: 0 auto;
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  border-radius: 12px;
  box-shadow: 0px 0px 20px rgb(85, 85, 85);
}

.img-modal {
  width: 600px;
  height: 400px;
  border-radius: 12px;
}

.img-close {
  display:flex;
  margin: 0 auto;
  position: absolute;
  top:20px;
  right:20px;
}

.category-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-icon-container > li {
  margin: 10px;
  list-style: none;
}

.category-title {
  display:block;
  text-align: center;
  font-size:14px;
}

.category-clicked {
  color:#412DD4;
  font-size: 14px;
  font-weight: 600;
  text-decoration: underline;
}
